/* Custom styles for the navbar */
.navbar {
  background-color: #252525;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#Navbar {
  color: white;
  padding-left: 2%;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: white;
}

.nav-item {
  padding-left: 10px;
}

.nav-link:hover {
  transform: scale(1.1);
  color: white;
  background-color: transparent;
}

.nav-link:active {
  transform: scale(1.1);
  color: white;
}

@media only screen and (max-width: 991px) {
  .nav-item {
    display: flex;
    justify-content: center;
  }

  .nav-link:active {
    transform: scale(1.1);
    color: white;
  }
}
